In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [54]:
ratings=pd.read_csv("/content/drive/MyDrive/Netflix dataset/ratings.csv")
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [55]:
ratings.shape

(1048575, 4)

In [56]:
movies = pd.read_csv("/content/drive/MyDrive/Netflix dataset/movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [57]:
data = pd.merge(ratings,movies,right_on='movieId',left_on='movieId',how='inner')

In [58]:
data.head()

,userId,movieId,rating,timestamp,title,genres
0,1,2,3.5,1112486027,Jumanji (1995),Adventure|Children|Fantasy
1,1,29,3.5,1112484676,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
2,1,32,3.5,1112484819,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
3,1,47,3.5,1112484727,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,3.5,1112484580,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [88]:
# total unique genres
genres = []
movie_genres = []
for genre in data['genres']:
  if '|' in genre:
    movie_genres = genre.split('|')
    for movie_genre in movie_genres:
      if movie_genre not in genres:
        genres.append(movie_genre)

In [89]:
len(genres)

19

In [90]:
genres

['Adventure',
 'Children',
 'Fantasy',
 'Drama',
 'Mystery',
 'Sci-Fi',
 'Thriller',
 'Crime',
 'Action',
 'Comedy',
 'Romance',
 'War',
 'Horror',
 'Musical',
 'Western',
 'Animation',
 'IMAX',
 'Film-Noir',
 'Documentary']

In [97]:
genres_summary = []

In [98]:
for genre in genres:
  temp_df = data[data['genres'].str.contains(genre)]
  genre_summary = {}
  genre_summary['genre'] = genre
  genre_summary['total_ratings'] = temp_df.shape[0]
  genre_summary['Mean Ratings'] = np.round(temp_df['rating'].mean(), decimals = 2)
  genres_summary.append(genre_summary)

In [99]:
genres_summary

[{'genre': 'Adventure', 'total_ratings': 230358, 'Mean Ratings': 3.51},
 {'genre': 'Children', 'total_ratings': 87101, 'Mean Ratings': 3.4},
 {'genre': 'Fantasy', 'total_ratings': 110815, 'Mean Ratings': 3.51},
 {'genre': 'Drama', 'total_ratings': 461704, 'Mean Ratings': 3.68},
 {'genre': 'Mystery', 'total_ratings': 82157, 'Mean Ratings': 3.67},
 {'genre': 'Sci-Fi', 'total_ratings': 166024, 'Mean Ratings': 3.43},
 {'genre': 'Thriller', 'total_ratings': 278937, 'Mean Ratings': 3.51},
 {'genre': 'Crime', 'total_ratings': 171866, 'Mean Ratings': 3.68},
 {'genre': 'Action', 'total_ratings': 293934, 'Mean Ratings': 3.45},
 {'genre': 'Comedy', 'total_ratings': 395994, 'Mean Ratings': 3.43},
 {'genre': 'Romance', 'total_ratings': 201209, 'Mean Ratings': 3.55},
 {'genre': 'War', 'total_ratings': 54347, 'Mean Ratings': 3.82},
 {'genre': 'Horror', 'total_ratings': 77518, 'Mean Ratings': 3.26},
 {'genre': 'Musical', 'total_ratings': 45788, 'Mean Ratings': 3.55},
 {'genre': 'Western', 'total_ratings': 22488, 'Mean Ratings': 3.57},
 {'genre': 'Animation', 'total_ratings': 59117, 'Mean Ratings': 3.61},
 {'genre': 'IMAX', 'total_ratings': 25527, 'Mean Ratings': 3.66},
 {'genre': 'Film-Noir', 'total_ratings': 11241, 'Mean Ratings': 3.96},
 {'genre': 'Documentary', 'total_ratings': 12675, 'Mean Ratings': 3.76}]

In [101]:
data_genre_summary = pd.DataFrame(genres_summary)

In [102]:
data_genre_summary

          genre  total_ratings  Mean Ratings
0     Adventure         230358          3.51
1      Children          87101          3.40
2       Fantasy         110815          3.51
3         Drama         461704          3.68
4       Mystery          82157          3.67
5        Sci-Fi         166024          3.43
6      Thriller         278937          3.51
7         Crime         171866          3.68
8        Action         293934          3.45
9        Comedy         395994          3.43
10      Romance         201209          3.55
11          War          54347          3.82
12       Horror          77518          3.26
13      Musical          45788          3.55
14      Western          22488          3.57
15    Animation          59117          3.61
16         IMAX          25527          3.66
17    Film-Noir          11241          3.96
18  Documentary          12675          3.76

In [109]:
##top 5 Most popular genre
data_genre_summary.sort_values('total_ratings' ,ascending=False)[['genre','total_ratings']][:5]

       genre  total_ratings
3      Drama         461704
9     Comedy         395994
8     Action         293934
6   Thriller         278937
0  Adventure         230358

In [110]:
## Top rated genres
data_genre_summary.sort_values('Mean Ratings',ascending = False)[['genre','Mean Ratings']][:5]

          genre  Mean Ratings
17    Film-Noir          3.96
11          War          3.82
18  Documentary          3.76
3         Drama          3.68
7         Crime          3.68

## 2) Create Model that finds the best suited Movie for one user in every genre.

In [111]:
data.head()

,userId,movieId,rating,timestamp,title,genres
0,1,2,3.5,1112486027,Jumanji (1995),Adventure|Children|Fantasy
1,1,29,3.5,1112484676,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
2,1,32,3.5,1112484819,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
3,1,47,3.5,1112484727,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,3.5,1112484580,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [113]:
!pip install scikit-surprise

Collecting scikit-surprise
  Downloading scikit_surprise-1.1.4.tar.gz (154 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 154.4/154.4 kB 4.4 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-surprise) (1.4.2)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.11/dist-packages (from scikit-surprise) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from scikit-surprise) (1.14.1)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (pyproject.toml) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.4-cp311-cp311-linux_x86_64.whl size=2505176 sha256=ae60eae27dc118dbbeb21e038b948e459e5644059c8f60544c61a2692572ba75
  Stored in directory: /root/.cache/pip/wheels/2a/8f/6e/7e2899163e2d85d8266daab4aa1cdabec7a6c56f83c015b5af
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.4

In [114]:
from surprise import Reader,Dataset,SVD
from surprise.model_selection import cross_validate

In [118]:
reader = Reader()
model = SVD()

## lets do this for user id = 1

In [119]:
data.columns

Index(['userId', 'movieId', 'rating', 'timestamp', 'title', 'genres'], dtype='object')

In [130]:
data

,userId,movieId,rating,timestamp,title,genres
0,1,2,3.5,1112486027,Jumanji (1995),Adventure|Children|Fantasy
1,1,29,3.5,1112484676,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
2,1,32,3.5,1112484819,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
3,1,47,3.5,1112484727,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,3.5,1112484580,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
...,...,...,...,...,...,...
1048570,7120,168,5.0,1175543061,First Knight (1995),Action|Drama|Romance
1048571,7120,253,4.0,1175542225,Interview with the Vampire: The Vampire Chroni...,Drama|Horror
1048572,7120,260,5.0,1175542035,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
1048573,7120,261,4.0,1175543376,Little Women (1994),Drama
1048574,7120,266,3.5,1175542454,Legends of the Fall (1994),Drama|Romance|War|Western

In [161]:
movie_recommendations = []

In [162]:
for genre in genres:
  reader = Reader()
  model = SVD()
  temp_df = data[data['genres'].str.contains(genre)]
  temp_data = Dataset.load_from_df(temp_df[['userId','movieId','rating']],reader)
  cross_validate(model, temp_data, measures=['RMSE'], cv=3)

  # recommendation for user 1
  user_1 = temp_df[['movieId', 'title', 'genres']].copy()
  user_1.reset_index()

  # estimated scores
  user_1['Estimated_Score'] = user_1['movieId'].apply(lambda x : model.predict(1,x).est)
  user_1 = user_1.sort_values('Estimated_Score', ascending=False)

  user_1 = user_1.drop_duplicates()

  # top recommended movie for this genre
  highest_recommended_movie = user_1.iloc[0]['title']

  recommendation = {}
  recommendation['genre'] = genre
  recommendation['Movie Name'] = highest_recommended_movie

  movie_recommendations.append(recommendation)

In [163]:
movie_recommendations

[{'genre': 'Adventure', 'Movie Name': 'Gold Rush, The (1925)'},
 {'genre': 'Children', 'Movie Name': 'WALL·E (2008)'},
 {'genre': 'Fantasy',
  'Movie Name': 'Lord of the Rings: The Fellowship of the Ring, The (2001)'},
 {'genre': 'Drama', 'Movie Name': "Schindler's List (1993)"},
 {'genre': 'Mystery', 'Movie Name': 'Rashomon (Rashômon) (1950)'},
 {'genre': 'Sci-Fi', 'Movie Name': 'Black Mirror (2011)'},
 {'genre': 'Thriller', 'Movie Name': 'Chinatown (1974)'},
 {'genre': 'Crime', 'Movie Name': 'Shawshank Redemption, The (1994)'},
 {'genre': 'Action',
  'Movie Name': 'Lord of the Rings: The Return of the King, The (2003)'},
 {'genre': 'Comedy', 'Movie Name': 'Thin Man, The (1934)'},
 {'genre': 'Romance', 'Movie Name': 'Modern Times (1936)'},
 {'genre': 'War', 'Movie Name': 'Life Is Beautiful (La Vita è bella) (1997)'},
 {'genre': 'Horror',
  'Movie Name': 'Let the Right One In (Låt den rätte komma in) (2008)'},
 {'genre': 'Musical', 'Movie Name': 'Duck Soup (1933)'},
 {'genre': 'Western',
  'Movie Name': 'Treasure of the Sierra Madre, The (1948)'},
 {'genre': 'Animation',
  'Movie Name': 'Spirited Away (Sen to Chihiro no kamikakushi) (2001)'},
 {'genre': 'IMAX', 'Movie Name': 'Dark Knight, The (2008)'},
 {'genre': 'Film-Noir', 'Movie Name': 'Notorious (1946)'},
 {'genre': 'Documentary', 'Movie Name': 'Cosmos (1980)'}]

In [164]:
recommendations_for_user_1 = pd.DataFrame(movie_recommendations)

In [165]:
recommendations_for_user_1

          genre                                         Movie Name
0     Adventure                              Gold Rush, The (1925)
1      Children                                      WALL·E (2008)
2       Fantasy  Lord of the Rings: The Fellowship of the Ring,...
3         Drama                            Schindler's List (1993)
4       Mystery                         Rashomon (Rashômon) (1950)
5        Sci-Fi                                Black Mirror (2011)
6      Thriller                                   Chinatown (1974)
7         Crime                   Shawshank Redemption, The (1994)
8        Action  Lord of the Rings: The Return of the King, The...
9        Comedy                               Thin Man, The (1934)
10      Romance                                Modern Times (1936)
11          War         Life Is Beautiful (La Vita è bella) (1997)
12       Horror  Let the Right One In (Låt den rätte komma in) ...
13      Musical                                   Duck Soup (1933)
14      Western           Treasure of the Sierra Madre, The (1948)
15    Animation  Spirited Away (Sen to Chihiro no kamikakushi) ...
16         IMAX                            Dark Knight, The (2008)
17    Film-Noir                                   Notorious (1946)
18  Documentary                                      Cosmos (1980)

## 3) Find what Genre Movies have received the best and worst ratings based on User Rating.

In [166]:
data.head()

,userId,movieId,rating,timestamp,title,genres
0,1,2,3.5,1112486027,Jumanji (1995),Adventure|Children|Fantasy
1,1,29,3.5,1112484676,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
2,1,32,3.5,1112484819,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
3,1,47,3.5,1112484727,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,3.5,1112484580,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [167]:
data_genre_summary.head()

       genre  total_ratings  Mean Ratings
0  Adventure         230358          3.51
1   Children          87101          3.40
2    Fantasy         110815          3.51
3      Drama         461704          3.68
4    Mystery          82157          3.67

In [177]:
best_genre = data_genre_summary[data_genre_summary['Mean Ratings']==data_genre_summary['Mean Ratings'].max()]['genre'].reset_index().iloc[0]['genre']

In [179]:
worst_genre = data_genre_summary[data_genre_summary['Mean Ratings']==data_genre_summary['Mean Ratings'].min()]['genre'].reset_index().iloc[0]['genre']

In [180]:
print(f"Best Genre : {best_genre}")
print(f"Worst Genre : {worst_genre}")

Best Genre : Film-Noir
Worst Genre : Horror